.contacto {
    width: nth($width, 16);
    background: nth($gradientes, 4), url("../img/bannerTres.jpg");
    @include bgDos (no-repeat, cover, fixed);
    @extend %flex3;
    h1 {
        font-size: nth($font-size, 11); 
        color: nth($colores, 1);
        text-shadow: 0 0 4px nth($colores, 3);
        padding: nth($padding, 4);
    }
    form{
        @extend %flex2;
    }
        
        div{
            font-size: nth($font-size, 3);
            font-weight: nth($font-weight, 1);
            margin-top: nth($margin, 1);
            margin-bottom: nth($margin, 1);
            padding: nth($padding, 3);
            text-align: center;
            input{
                width: nth($width, 12);
                height: nth($height, 3);
            }
        }
        div{
            textarea{
                width: nth($width, 15);
                height: nth($height, 6);
            }
        }
    }
