/*-----HEADER-----*/

.encabezado{
    nav{
        background: nth($gradientes, 2);
        .container-fluid{
            a{
                padding-right: nth($padding, 10);
                img{
                    width: nth($width, 8);
                    height: nth($height, 9);
                }
            }
            .collapse{
                ul{
                    li{
                        .active{
                            font-size: nth($font-size, 3);
                            color: nth($colores, 1);
                            padding-right: nth($padding, 3);
                        }
                    }
                    li{
                        .dropdown-toggle{
                            font-size: nth($font-size, 3); 
                            color: nth($colores, 1);
                        }
                        ul{
                            li{
                                .dropdown-item{
                                    font-size: nth($font-size, 3); 
                                    color: nth($colores, 1);
                                }
                            }
                        }
                    }
                }
            }
                form{
                    .boton{
                        border: 1px solid nth($colores, 3);
                        color: nth($colores, 3);
                        transition: 1s;
                        &:hover{
                            background-color: nth($colores, 3);
                            color: nth($colores, 4);
                        }
                    }
                }
            }
        } 
    }

