/*-----HEADER-----*/

.encabezado{
    nav{
        background: $color-fondoHeaderFooterUno;
        background: $color-fondoHeaderFooterDos;
        div{
            a{
                padding-right: 80px;
                img{
                    width: 180px;
                    height: 180px;
                }
            }
            div{
                ul{
                    li{
                        a{
                            font-size: 10x; 
                            color: $color-subtitulos;
                            padding: 10px;
                        }
                    }
                }
            }
                form{
                    .boton{
                        border: 1px solid $color-bordesBotones;
                        color: $color-bordesBotones;
                        transition: 1s;
                        &:hover{
                            background-color: $color-bordesBotones;
                            color: $color-textoBotones;
                        }
                    }
                }
            }
        } 
    }
