.principal {
    .bienvenida {
        width: 100%;
        height: calc(100vh - 180px);
        background: $color-transpBienvenida, url("../img/tazaCafe.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;

        h1 {
            font-size: 120px;
            color: $color-subtitulos;
            text-shadow: 0 0 4px $color-bordesBotones;
            padding: 50px;
        }

        p {
            font-size: 40px;
            color: $color-bordesBotones;
        }
    }
    .galeria {

        h2 {
            font-size: 60px;
            font-weight: 150px;
            color: $color-subtitulos;
            background-color: $color-fondoSubtitulos;
            text-align: center;
            padding: 50px;
        }

        .grid-galeria {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 300px;
            gap: 15px;
            padding: 15px;

            .grid-item {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    box-shadow: 11px 7px 30px -3px $color-fondoImagenes;
                    -webkit-box-shadow: 11px 7px 30px -3px $color-fondoImagenes;
                    -moz-box-shadow: 11px 7px 30px -3px $color-fondoImagenes;
                }
            }
            .img-2 {
                grid-row: span 2;
            }

            .img-3 {
                grid-row: span 2;
            }

            .img-5 {
                grid-column: span 2;
            }

            .img-6 {
                grid-row: span 2;
            }

            .img-7 {
                grid-row: span 2;
            }
        }

        a {
            text-decoration: none;
            font-size: 20px;
            border: 1px solid $color-bordesBotones;
            color: $color-bordesBotones;
            margin: 20px;
            padding-bottom: 10px;
            padding: 5px;
            transition: 3s;
            &:hover{
                background-color:$color-fondoBotones;
                color: $color-textoBotones;
            }
        }
    }
    .categorias {
        h2 {
            color: $color-subtitulos;
            background-color: $color-fondoSubtitulos;
            font-size: 60px;
            font-weight: 150px;
            text-align: center;
            padding: 30px;
        }

        p {
            color: $color-bordesBotones;
            font-size: 30px;
            font-weight: 50px;
            text-align: center;
            padding: 30px;
        }

        .catTipos {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            div {
                border: 2px solid $color-bordesBotones;
                width: 200px;
                height: 250px;
                margin: 40px;
                padding: 10px;
                text-align: center;
                img {
                    width: 150px;
                    height: 150px;
                    transition-property: width;
                    transition-duration: 2s;
                    transition-timing-function: ease;
                    &:hover{
                        width: 180px;
                    }
                }

                h3 {
                    font-size: 15px;
                    margin: 15px;
                }

                a {
                    text-decoration: none;
                    font-size: 12px;
                    color: $color-textoBotones;
                    font-weight: bold;
                    background-color: $color-fondoBotones;
                    padding: 5px 10px;
                }
            }
        }

        a {
            text-decoration: none;
            font-size: 20px;
            border: 1px solid $color-bordesBotones;
            color: $color-bordesBotones;
            margin: 20px;
            padding-bottom: 10px;
            padding: 5px;
            transition: 3s;
            &:hover{
                background-color:$color-fondoBotones;
                color: $color-textoBotones;
            }
        }
    }
    .pagos {
        h2 {
            color: $color-subtitulos;
            background-color: $color-fondoSubtitulos;
            font-size: 60px;
            font-weight: 150px;
            text-align: center;
            padding: 30px;
        }

        p {
            color: $color-bordesBotones;
            font-size: 30px;
            font-weight: 50px;
            text-align: center;
            padding: 30px;
        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            img {
                width: 150px;
                height: 150px;
                margin: 25px;
            }
        }

        a {
            text-decoration: none;
            font-size: 20px;
            border: 1px solid $color-bordesBotones;
            color: $color-bordesBotones;
            margin: 20px;
            padding-bottom: 10px;
            padding: 5px;
            transition: 3s;
            &:hover{
                background-color:$color-fondoBotones;
                color: $color-textoBotones;
            }
        }

    }
    .contacto {
        
        h2{
            color: $color-subtitulos;
            background-color: $color-fondoSubtitulos;
            font-size: 60px;
            font-weight: 150px;
            text-align: center;
            padding: 20px;
        }
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            div{
                font-size: 30px;
                font-weight: 30px;
                margin-top: 5px;
                margin-bottom: 5px;
                padding: 15px;
                text-align: center;
                label{

                }
                input{
                    width: 500px;
                    height: 40px;
                }
            }
            div{
                h3{

                }
                textarea{
                    width: 700px;
                    height: 70px
                }
            }
        }
    }
    .historia{
        h2{
            color: $color-subtitulos;
            background-color: $color-fondoSubtitulos;
            font-size: 60px;
            font-weight: 150px;
            text-align: center;
            padding: 50px;
        }
        p{
            color: $color-bordesBotones;
            font-size: 35px;
            text-align: center;
            padding: 100px;
            padding-bottom: 200px;
        }
    }
    .tienda{
        h2{
            color: $color-subtitulos;
            background-color: $color-fondoSubtitulos;
            font-size: 60px;
            font-weight: 150px;
            text-align: center;
            padding: 50px;
        }   
        .productostienda{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            div{
                border: 2px solid $color-bordesBotones;
                width: 250px;
                height: 350px;
                margin: 30px;
                text-align: center;
                transition: 3s;
                &:hover{
                    transform: scale(1.3);
                }
                img{
                    width: 250px;
                    height: 250px;
                }
                h3{
                    font-size: 20px;
                    margin: 15px;
                }
                a{
                    text-decoration: none;
                    color: $color-textoBotones;
                    font-weight: bold;
                    background-color: $color-fondoBotones;
                    padding: 5px 10px;
                }
            }
        }
    }
}