.tienda{
    width: nth($width, 16);
    background: nth($gradientes, 4), url("../img/bannerTres.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    h2{
        color: nth($colores, 1);
        text-shadow: 0 0 4px nth($colores, 3);
        font-size: nth($font-size, 11); 
        font-weight: nth($font-weight, 4);
        text-align: center;
        padding: nth($padding, 6);
    }   
    .productosTienda{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        div{
            border: 2px solid nth($colores, 3);
            width: nth($width, 9);
            height: nth($height, 12);
            margin: nth($margin, 5);
            text-align: center;
            transition: 3s;
            &:hover{
                transform: scale(1.3);
            }
            img{
                width: nth($width, 9);
                height: nth($height, 11);
            }
            h3{
                font-size: nth($font-size, 3); 
                margin: nth($margin, 2);
            }
            a{
                text-decoration: none;
                color: nth($colores, 4);
                font-weight: nth($font-weight, 5);
                background-color: nth($colores, 5);
                padding-top: nth($padding, 1);
                padding-bottom: nth($padding, 1);
                padding-left: nth($padding, 2);
                padding-right: nth($padding, 2);
            }
        }
    }
}