
$color-subtitulos: rgb(155, 119, 27);
$color-fondoSubtitulos: rgb(210, 191, 164);
$color-bordesBotones: rgb(72, 44, 23);
$color-textoBotones: beige;
$color-fondoBotones: rgb(99, 58, 87);
$color-fondoPagina: rgb(255, 247, 238), radial-gradient(circle, rgba(255, 247, 238, 1) 50%, rgba(237, 235, 224, 0.9950241815476191) 100%);
$color-fondoHeaderFooterUno: rgb(255, 255, 255);
$color-fondoHeaderFooterDos: linear-gradient(90deg, rgba(255, 255, 255, 1) 8%, rgba(232, 204, 230, 0.9950241815476191) 100%);
$color-transpBienvenida: linear-gradient(rgba(174, 149, 120, 0.486), rgba(125, 120, 114, 0.596));
$color-fondoImagenes: rgba(60, 17, 7, 0.75);
$color-transpHistoria: linear-gradient(90deg, rgba(210,189,164,0.5913338968399859) 8%, rgba(161,137,102,0.39525546546743695) 97%);
